<div class="card card-body p-4 rounded-0 bg-dark text-white">
  
   <h3>Add a Task</h3>
  
  <form action="/tasks/add" method="POST">

   <div>
    <label for="title">Title: </label>
    <input 
    type="text" 
    name="title" 
    placeholder="Write a title" 
    id="title"
    class="form-control rounded-0 bg-dark text-white"
     />
  </div>

  <div>
    <label for="description">Description: </label>
    <textarea
    name="description" 
    placeholder="Description"
    class="form-control rounded-0 bg-dark text-white"
    ></textarea>
  </div>

  <button class="btn btn-primary btn-sm mt-2">Add</button>

</form>
</div>
